HelloWorld/bin
HelloWorld/obj
HelloWorld/day1.csproj
HelloWorld/day1.sln

Variables_DataTypes_Operations/bin
Variables_DataTypes_Operations/obj
Variables_DataTypes_Operations/day2.csproj
Variables_DataTypes_Operations/day2.sln

Control_Flow/bin
Control_Flow/obj
Control_Flow/day3.csproj
Control_Flow/day3.sln

