day1/day1.csproj
day1/day1.sln
day1/obj/*
day1/bin/*

day2/day2.csproj
day2/day2.sln
day2/obj/*
day2/bin/*

day3/day3.csproj
day3/day3.sln
day3/obj/*
day3/bin/*

day4/day4.csproj
day4/day4.sln
day4/obj/*
day4/bin/*

